.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: #111111;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-gray {
    background-color: #2d2c2c70;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark track */
}

::-webkit-scrollbar-thumb {
  background-color: #444;  /* Dark gray thumb */
  border-radius: 6px;
  border: 2px solid #1e1e1e; /* Padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* For Firefox */
* {
  scrollbar-width: thin;              /* "auto" or "thin" */
  scrollbar-color: #444 #1e1e1e;      /* thumb and track */
}
